

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {height: 100%;}

.right {
	text-align: right;
}
.center {
	text-align: center; 
}
/* Navbar */
.navbar-brand>img {
	max-height: 100%;
}

/* Nav */
.nav .nav {
	padding-left: 15px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	background-color: transparent;
	border: none;
}
.navbar-nav>li>a {
	padding-top: 55px;
	padding-bottom: 35px;
}
.navbar-brand>img {
    max-height: 80px;
}
.numbers {
	position: absolute;
	top: 70px;
	width: 100%;
	pointer-events:none;
}
.number {
	display: inline-block;
	border-radius: 50%;
	border: 1px black solid;
	padding: 4px;
	margin-left: 8px;
	margin-right: 8px;
	width: 12px;
	height: 12px;
	pointer-events: all;
}
.number:hover {
	transform: scale(3,3);
	-webkit-transition: -webkit-transform 0.5s; 
	transition: transform 0.5s; 
}
.line {
	width: 195px;
	border-top: 1px black solid;
	height: 0px;
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: -9px;
}
/* Text blocks */
.text img {
	max-width: 100%;
}

.footer {
	background-color: black; 
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}
.footer a {
	color: white;
}
#home {
	overflow: auto;
	height: 100%;
	margin-bottom: -140px;
	background: url('../images/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.thumb-image img {
	border-radius: 50%;
}
.container img {
	max-width: 100%;
	margin-bottom: 15px;
}
.banners {
	width: 100%;
	height: 300px;
	position: relative;
}
.content {
	margin-top: 50px;
	margin-bottom: 50px;
}
.banner {
	max-width: 50%;
	background: url('../images/bg.jpg') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
	background-blend-mode: screen;
}
.second {
	position: relative;
    right: -50%;
    top: -300px;
}
.banner-text {
	width: 100%;
	height: 300px; 
	position: absolute;
	top: 0px;
	padding-top: 100px;
}
.coming {
	width: 100%;
	background: url(../images/default.jpg) no-repeat center center;
	background-color: #A55C5C; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
	background-blend-mode: screen;
	text-align: center;
	padding-top: 110px;
	cursor: default;
}













