

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {height: 100%;}

/* Navbar */
.navbar-brand>img {
	max-height: 100%;
}

/* Nav */
.nav .nav {
	padding-left: 15px;
}

/* Text blocks */
.text img {
	max-width: 100%;
}

.footer {
	background-color: black; 
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}
.footer a {
	color: white;
}
#home {
	overflow: auto;
	height: 100%;
	margin-bottom: -140px;
	background: url('../images/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}














